{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    3.dönem
{% endblock %}

{% block content %}


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-8bgf{font-style:italic;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-vrnj{font-style:italic;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-fymr">Oyuncular</th>
    <th class="tg-vrnj">P1</th>
    <th class="tg-vrnj" colspan="2">P2</th>
    <th class="tg-8bgf" colspan="2">P3</th>
    <th class="tg-8bgf" colspan="2">P4</th>
    <th class="tg-8bgf" colspan="2">P5</th>
    <th class="tg-8bgf" colspan="2">P6</th>
    <th class="tg-8bgf" colspan="2">P7</th>
    <th class="tg-8bgf">P8</th>
  </tr>
  <tr>
    <td class="tg-fymr">Roller</td>
    <td class="tg-9wq8">Alıcı</td>
    <td class="tg-9wq8">Karar Verici</td>
    <td class="tg-c3ow">Alıcı</td>
    <td class="tg-c3ow">Karar Verici</td>
    <td class="tg-c3ow">Alıcı</td>
    <td class="tg-c3ow">Karar Verici</td>
    <td class="tg-c3ow">Alıcı</td>
    <td class="tg-c3ow">Karar Verici</td>
    <td class="tg-c3ow">Alıcı</td>
    <td class="tg-c3ow">Karar Verici</td>
    <td class="tg-c3ow">Alıcı</td>
    <td class="tg-c3ow">Karar Verici</td>
    <td class="tg-c3ow">Alıcı</td>
    <td class="tg-c3ow">Karar Verici</td>
  </tr>
  <tr>
    <td class="tg-fymr">Transfer miktarı</td>
    <td class="tg-c3ow" colspan="2">{{group.sent_2}}</td>
    <td class="tg-c3ow" colspan="2">{{group.sent_3}}</td>
    <td class="tg-c3ow" colspan="2"></td>
    <td class="tg-c3ow" colspan="2"></td>
    <td class="tg-c3ow" colspan="2"></td>
    <td class="tg-c3ow" colspan="2"></td>
    <td class="tg-c3ow" colspan="2"></td>
  </tr>
  <tr>
    <td class="tg-fymr">Kazanç</td>
    <td class="tg-0pky">{{p1_receiver}}</td>
    <td class="tg-0pky">{{p2_decider}}</td>
    <td class="tg-0pky">{{p2_receiver}}</td>
    <td class="tg-0pky">{{p3_decider}}</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
</table>
<p>
    Bu dönemin Karar vericisi sizsiniz.
    Başlangıç puanınızın ( {{Constants.endowment_Decider}}) ne kadarını aktarıyorsunuz (0-7)?
</p>

    {% formfield group.sent_4 label=prompt %}
<p>
     Size ne kadar verileceğini bekliyorsunuz?
</p>
     {% formfield group.expect_4 label=prompt %}

</p>

    <p>{% next_button %}</p>
    {% include Constants.table_template %}

{% endblock %}
