{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    1.dönem
{% endblock %}

{% block content %}

    Bu turda, daha önce bir dönem olmadı.

<p>
    <p>Grubun : <b>{% if your_color == 'RED' %}
      <p style="color: red; font-size:100%;"> RED </p>
    {% else %}
      <p style="color: blue; font-size:100%"> BLUE </p>
    {% endif %} </b></p>


 <p> Alıcının grubu : <b>{% if partner_color == 'RED' %}
      <p style="color: red; font-size:100%;"> RED </p>
    {% else%}
      <p style="color: blue; font-size:100%"> BLUE </p>

    {% endif %} </b></p>
 <p>

<p>
    Bu dönemin Karar vericisi sizsiniz.
    Başlangıç puanınızın ( {{Constants.endowment_Decider}}) ne kadarını aktarıyorsunuz (0-7)?
</p>

    {% formfield group.sent_2 label=prompt %}
<p>
     Size ne kadar verileceğini bekliyorsunuz?
</p>
     {% formfield group.expect_2 label=prompt %}

</p>

    <p>{% next_button %}</p>
    {% include Constants.table_template %}

{% endblock %}
